.a {
		--black: #293340;
		--red: #f35d67;
		--green: #61BA86;
		--yellow: #ffe868;
		--blue: #4CB2FF;
		--magenta: #BE86E3;
		--cyan: #2DCED0;
		--white: #CDD2E9;
		--lightBlack: #546386;
		--lightRed: #E17E85;
		--lightGreen: rgb(99, 212, 146);
		--lightYellow: #FFB68E;
		--lightBlue: #4CB2FF;
		--lightMagenta: #BE86E3;
		--lightCyan: #2DCED0;
		/* 74f6ff */
  }
